html {
    height: 100%;
    background-image: linear-gradient(360deg, #9E101C, #C21F48, #FFBC42);
}

body {
    margin: 0;
    font-family: "Sofia";
    color: #FFF;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#grid {
    margin: 0 auto;
    display: grid;
    outline: solid 5px #FFBC42;
    box-shadow: 0 0 30px #9E101C;
    width: 500px;
    height: 500px;
}

#grid, #btns1, #btns2, #btns3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btns1 {left: 30vw;}
#btns2 {left: 70vw;}
#btns3 {top: 90vh;}

#btns1, #btns2, #btns3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

button {
    width: auto;
    height: auto;
    font-family: "Sofia";
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    color: #FFF;
    outline: none;
    border: solid 3px #FFF;
    border-radius: 75%;
    box-shadow: 0 0 10px #FFF, 0 0 10px #FFF inset;
}

button:hover {
    box-shadow: 0 0 30px #FFBC42, 0 0 2px #FFBC42;
}

#color-picker {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: solid 3px #FFF;
    border-radius: 75%;
    box-shadow: 0 0 10px #FFF, 0 0 10px #FFF inset;
}